* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  display: grid;
  grid-template-rows: 6.8rem 1fr;
  grid-template-areas:
    "header"
    "main";
  height: 100vh;
}

.c-header {
  grid-area: header;
  background: #191816;
  padding: 4rem 0 0 2rem;
}

.c-main {
  grid-area: main;
  background: #191816;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.c-main__fieldset {
  border: none;
}

.c-main__title {
  display: flex;
  gap: 1rem;
  color: #d4ccb6;
  font-size: 2.4rem;
  line-height: 3.6rem;
}

.c-main__info {
  color: #afb6c2;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.c-main__form {
  margin-top: 2.7rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 33.5rem;
}

.c-main__label {
  color: #afb6c2;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.c-main__input-container {
  padding: 0 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  border: 1px solid #868686;
  border-radius: 4px;
}

.c-main__input {
  padding: 1.2rem 0;
  background: transparent;
  color: #a9afb9;
  font-size: 1.4rem;
  line-height: 1.6rem;

  border: none;
  outline: none;
  width: 100%;
}

.c-main__input::placeholder {
  font-family: "Roboto", sans-serif;
  color: rgb(169, 175, 185, 0.5);
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 400;
}

.c-main__remember-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-main__checkbox-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: max-content;
}

.c-main__checkbox {
  appearance: none;
  border: 1px solid #868686;
  border-radius: 4px;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.c-main__checkbox:checked {
  background: url(./assets/check.svg) #ffc632;
  border: none;
}

.c-main__forgot-password {
  color: #ffc632;
  font-size: 1.4rem;
  line-height: 2.1rem;
  text-decoration: none;
}

.c-main__button {
  padding: 1.2rem 2.4rem;
  background: #ffc632;
  width: 100%;

  border: none;
  border-radius: 0.4rem;

  color: #473404;
  font-size: 1.8rem;
  line-height: 2.7rem;
  text-transform: uppercase;
}

.c-main__create-account {
  margin-top: 2rem;
  display: block;
  color: #ffc632;
  font-size: 1.4rem;
  line-height: 2.1rem;
  text-align: center;
}

.c-main__register {
  color: #ffc632;
  text-decoration: none;
}

.u-poppins {
  font-family: "Poppins", sans-serif;
}

.u-poppins--regular {
  font-weight: 400;
}

.u-poppins--medium {
  font-weight: 500;
}

.u-poppins--semiBold {
  font-weight: 600;
}

.u-roboto {
  font-family: "Roboto", sans-serif;
}

.u-roboto--regular {
  font-weight: 400;
}

.u-roboto--medium {
  font-weight: 500;
}

.is-input-focus {
  outline: 2px solid #ffde88;
  border: 1px solid #ffc632;
}
